p Új üzenet érkezett a Bíbor Rezsi weboldalról.
p Megjelenítendő üzenet: ${message}
- var link = ${link}
a(href='https://biborrezsi-server.herokuapp.com/')Próba1
a(href='https://biborrezsi-server.herokuapp.com/'+link)Próba2